################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewWeb.sln (2).sln
/NewWeb.sln (2) (1).sln
/NewWeb.sln (2) (1).v12.suo
/NewWeb.sln (2).v12.suo
